:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-white-middle: rgba(243, 240, 235, 1);
    --color-white-dark: rgba(180, 180, 180, 1);

    --color-orange-light: rgba(240, 164, 106, 1);
    --color-orange-dark: rgba(205, 71, 106, 1);

    --color-blue-light: rgba(92, 155, 208, 1);
    --color-blue-dark: rgba(60, 70, 141, 1);

    --color-grey-light: rgba(250, 250, 250, 1);
    --color-grey-middle: rgba(197, 194, 203, 1);
    --color-grey-dark: rgba(51, 51, 51, 1);
    --color-grey-text: rgba(93, 94, 99, 1);

    --color-cold-blue-light: rgba(167, 189, 202, 1);
    --color-cold-blue-dark: rgba(83, 147, 178, 1);

    --color-green-light: rgba(193, 215, 107, 1);
    --color-green-dark: rgba(105, 135, 75, 1);

    --color-black-opacity-3: rgba(0, 0, 0, 0.3);
}