.container {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: auto;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    
    min-height: 50rem;

    @include respond(phone) {
        height: 100vh;
        border-radius: 0;
    }

    @include respond(tab-port) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    &--thunderstorm, &--drizzle, &--rain {
        background-image: linear-gradient(to right bottom, var(--color-blue-light), var(--color-blue-dark));
    }
    &--snow, &--squall, &--tornado, &--fog {
        background-image: linear-gradient(to right bottom, var(--color-cold-blue-light), var(--color-cold-blue-dark));
    }

    &--clear {
        background-image: linear-gradient(to right bottom, var(--color-orange-light), var(--color-orange-dark));
    }

    &--clouds {
        background-image: linear-gradient(to right bottom, var(--color-green-light), var(--color-green-dark));
    }

    &__title {
        background: var(--color-black-opacity-3);
        color: var(--color-white-middle);
        letter-spacing: 5px;
        font-size: 2.8rem;
        font-weight: 800;
        padding: 1.5rem 0;
        text-align: center;

        @include respond(phone) {
            background: var(--color-grey-dark);
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__calendar {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__weather {
        flex-grow: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}