.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    z-index: 100;
    left: 0;
    top: 0;
    background-image: linear-gradient(
        to right bottom,
        var(--color-white-middle),
        var(--color-white-dark)
    );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}