.calendar{
    color: var(--color-white-middle);

    &__time {
        font-size: 8.4rem;

        @include respond(phone) {
            font-size: 9.6rem;
        }
    }
    
    &__date {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;

        @include respond(phone) {
            font-size: 2.4rem;
        }
    }
}