.city-search {
    color: var(--color-white-middle);
    border-radius: 1rem;
    background: var(--color-black-opacity-3);
    overflow: hidden;

    &__header {
        padding: 1.5rem 2.5rem;
        font-size: 2.2rem;
        font-weight: 700;
        background: var(--color-grey-dark);
    }

    &__input {
        font-size: 1.8rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__list-item {
        padding: 0.8rem 2.5rem;
        font-size: 1.8rem;
        cursor: pointer;

        &:hover {
            background-color: var(--color-orange-light);
        }
    }
}