.details {
    display: flex;
    justify-content: space-between;

    &__item {
        display: flex;
        font-size: 1.4rem;
    }

    &__icon {
        fill: var(--color-white-middle);
        height: 3rem;
    }

    &__text {
        margin-left: 0.5rem;
    }
}