.weather {
    color: var(--color-white-middle);
    border-radius: 1rem;
    background: var(--color-black-opacity-3);
    overflow: hidden;

    @include respond(phone) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &__header {
        padding: 1.5rem 2.5rem;
        font-size: 2.2rem;
        font-weight: 700;
        background: var(--color-grey-dark);
    }

    &__body {
        padding: 1.5rem 2.5rem;
        display: flex;
        flex-direction: row;
    }

    &__main {
        display: flex;
        align-items: center;
    }

    &__icon {
        fill: var(--color-white-middle);
        margin: 1rem;
        height: 9rem;
    }

    &__celsius {
        margin-left: 1rem;
        margin-right: 5rem;
        font-size: 8.4rem;
        flex-grow: 1;
    }

    &__description {
        font-size: 2.0rem;
        font-weight: 700;
    }

    &__search {
        display: flex;
        align-self:center;
        cursor: pointer;
    }

    &__search-icon {
        fill: var(--color-white-middle);
        height: 2.5rem;
        margin-right: 2rem;
    }
}